---
export const prerender = true;
import Shadow from "../components/Shadow.astro";
import Layout from "../layouts/Layout.astro";
import {
	SPECIFIKACIE_BYTOV_PAGE_TITLE,
	SPECIFIKACIE_BYTOV_PIKS,
} from "../data/specifikacie-bytov";
---

<Layout
	title="Nové moderné byty vo Veľkom Šariši | Byty Doliny"
	description="Štýlové nové byty vo Veľkom Šariši, pripravené na to, aby ste z nich urobili svoj domov. Objavte moderný komfort v atraktívnom prostredí."
>
	<div class="py-10 mx-auto">
		<Shadow
			background="black"
			stylesh="mx-auto max-w-[1100px] flex flex-col md:flex-row items-center justify-center px-6 py-12 md:px-12 md:py-12"
		>
			<div
				class="flex flex-col items-centermd:text-start justify-between gap-6 mx-auto"
			>
				<h1
					class="text-white text-4xl text-center md:text-5xl font-medium"
				>
					{SPECIFIKACIE_BYTOV_PAGE_TITLE}
				</h1>
			</div>
		</Shadow>
	</div>
	<div
		class="py-10 container max-w-4xl mx-auto flex flex-col items-center justify-center gap-8"
	>
		{
			SPECIFIKACIE_BYTOV_PIKS.map((byt) => (
				<Shadow
					key={byt.id}
					stylesh={"w-full py-12 px-6 flex flex-col gap-5"}
				>
					<h3 class="font-bold text-2xl md:text-3xl">{byt.title}</h3>
					<span
						id="small-caps"
						class="font-semibold text-xl bg-accentLight p-2 rounded-xl"
					>
						{byt.body.toUpperCase()}
					</span>
					{byt.body1 && (
						<span class="font-semibold text-xl bg-accentLight p-2 rounded-xl">
							{byt.body1.toUpperCase()}
						</span>
					)}
				</Shadow>
			))
		}
	</div>
</Layout>
<style>
	#small-caps {
		font-variant: all-small-caps;
	}
</style>
